* {	padding: 0; margin: 0; vertical-align: top; }

.bg
{
	background: url('images/aerialMSU.jpeg') no-repeat center center;
}

label 
{
	position: relative;
}

#autoscaleform
{
	padding-top:40px;
}

#content {
	float: left;
	width: 100%;
}
#col {
	background:#edf4ff;
	height:100%;
	padding:10px;
	border: solid 10px #779ff4;
}

.container {
	background: #779ff4;
	width:100%;
}
a {	color: #069; }
a:hover { color: #28b; }

h2 {
	margin-top: 15px;
	font: normal 32px "omnes-pro", Helvetica, Arial, sans-serif;
}

h3 {
	margin-left: 30px;
	font: normal 26px "omnes-pro", Helvetica, Arial, sans-serif;
	color: #666;
}

p {
	margin-top: 10px;
}

.procActive
{
	background:#3d87ff !important;
	color:white !important;
}
#procTable
{
	background:white;
	height:60px;
}

#procTable td
{
	margin:auto;
	height:15px;
	width:110px;
}
.procPick
{
	margin-left:5px;
	margin-top:2.5px;
	margin-bottom:2.5px;
	width:100px;
	font-size: 14px !important;
}
#buttonArea
{

}

button {
	fsont-size: 18px;
	wsidth: 6em !important;
	spadding: 1px 7px;
}

.buttonTab {
	display:inline-block !important;
}

input {
	font-size: 18px;
}

input[type=checkbox] {
	margin: 7px;
}

.ui-slider{
	padding-top:40px;
    position: relative;
    width: 20% ;
    top: 35px;
    background:#0012345 !important;
    transition: color 0.15s linear 0s !important;
    z-index: 2;
}

.ui-slider-handle 
{
	background:green;
	opacity:0.7;
}

.plot-container {
	box-sizing: border-box;
	width: 100%;
	height: 450px;
	padding: 20px 15px 15px 15px;
	margin: 15px auto 30px auto;
	border: 1px solid #ddd;
	background: #fff;
	background: linear-gradient(#f6f6f6 0, #fff 50px);
	background: -o-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -ms-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -moz-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -webkit-linear-gradient(#f6f6f6 0, #fff 50px);
	box-shadow: 0 3px 10px rgba(0,0,0,0.15);
	-o-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-ms-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.plot-placeholder {
	width: 100%;
	height: 100%;
	font-size: 14px;
	line-height: 1.2em;
}

.legend table {
	border-spacing: 5px;
}